@import '../../style.scss';

.wrapper {
  width: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;

  .title {
    font-size: 40px;
    text-align: center;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 35px;
  }
}


.loadingEnter {
  opacity: 0;
  transform: scale(0.9);
}
.loadingEnterActive {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.loadingExit {
  opacity: 1;
}
.loadingExitActive {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}
