.wrapper {
  position: absolute;

  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  backdrop-filter: blur(3.5px);

  .img {
    pointer-events: none;
    user-select: none;
  }
}